$color-white: #fff;
$color-black: #000;
$color-primary: #091e42;
$color-secondary: #6c757d;
$color-red: #f23b3b;
$nav-background: #00335a;
%bg-center-cover-norepeat {
    background-position: center !important;
    background-size: cover !important;
    background-repeat: no-repeat !important;
}

%absolute {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

$font-size-primary: 18px;
$font-size-secondary: 16px;
$font-size-sub-primary: 16px;
$font-size-sub-secondary: 14px;
$font-weight-primary: 700;
$font-weight-secondary: 600;
$br-radius: 10px;
// media queries and widths
$extra-small-and-down: 576px; // max-width
$small-and-down: 767px; // max-width
$medium-and-up: 768px; // max-width
$medium-and-down: 992px; // max-width 
$large-and-up: 993px; // min-width styles 
$extra-large-and-up: 1200px; // min-width
@media (max-width: $extra-small-and-down) {
    // styles for extra small screens and down
}

@media (max-width: $small-and-down) {
    // styles for small screens and down
}

// styles for medium screens and larger
@media (min-width: $medium-and-up) {
    // styles for medium screens and larger
}

@media (max-width: $medium-and-down) {
    // styles for medium screens and down
}

@media (min-width: $large-and-up) {
    // for large screens and up
}

@media (min-width: $extra-large-and-up) {
    // styles for extra large screens and up
}

// main headings
.section {
    padding: 40px 0;
    position: relative;
    .section-title {
        position: relative;
        text-align: center;
        margin: 0 0 40px;
        .title {
            font-size: 28px;
            font-weight: 700;
            text-transform: uppercase;
            color: #091e42;
            margin: 0;
            padding: 0;
            text-shadow: 2px 1px 4px #57559f59;
            letter-spacing: 1px;
        }
    }
}

// view more wrapper 
.view-more-wrapper {
    position: relative;
    margin-bottom: 20px;
    text-align: right;
    .view-more-link {
        color: $color-primary;
        font-size: $font-size-secondary;
        font-weight: $font-weight-secondary;
        text-shadow: 0 0 $color-primary;
        text-decoration: none;
        letter-spacing: .5px;
        i {
            padding-left: 15px;
        }
    }
}

// projects cards
%hot-projects-card {
    .hot-project-card {
        position: relative;
        padding: 20px;
        margin-bottom: 10px;
        .image {
            @extend %bg-center-cover-norepeat;
            position: relative;
            height: 200px;
            border-radius: $br-radius;
            .overlay {
                @extend %absolute;
                background: rgba(0, 0, 0, 0.3);
                border-radius: $br-radius;
            }
        }
        .detail {
            position: relative;
            padding: 15px 15px 0;
            a {
                display: block;
                margin: 10px 0;
                .name {
                    color: $color-red;
                    font-size: $font-size-primary;
                    font-weight: $font-weight-primary;
                }
                .location {
                    color: $color-secondary;
                    font-size: $font-size-sub-secondary;
                    font-weight: $font-weight-secondary;
                    margin: 0;
                }
            }
            .price-detail {
                padding: 10px 0;
                button {
                    font-size: $font-size-sub-secondary;
                    font-weight: $font-weight-secondary;
                    i {
                        margin-right: 5px;
                    }
                }
                button.price,
                button.price:hover,
                button.price:focus {
                    background: none;
                    box-shadow: none;
                    border: 0;
                    color: $color-red;
                }
            }
        }
    }
    .hot-project-card::before {
        content: '';
        position: absolute;
        top: 30%;
        left: 0;
        right: 0;
        bottom: 0;
        background: #fff;
        border-radius: $br-radius;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
    }
}

%latest-projects-card {
    .latest-project-card {
        position: relative;
        .image {
            position: relative;
            height: 250px;
            @extend %bg-center-cover-norepeat;
            .overlay {
                @extend %absolute;
                background: rgba($color: #000000, $alpha: .6);
            }
            .caption {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100%;
                color: #fff;
                text-align: center;
                letter-spacing: 1px;
                .name {
                    padding: 0 0 15px;
                    position: relative;
                    font-size: $font-size-secondary;
                    font-weight: $font-weight-secondary;
                }
                .name:after {
                    @extend %absolute;
                    content: '';
                    background: #fff;
                    width: 25%;
                    height: 2px;
                    top: auto;
                    bottom: 0;
                    margin: 0 auto;
                }
                .location {
                    color: #eee;
                    font-size: $font-size-sub-secondary;
                    font-weight: $font-weight-secondary;
                    margin: 0;
                }
            }
        }
        .image,
        .overlay {
            border-radius: $br-radius;
        }
    }
}