.npi_index {
    .banner-wrapper {
        position: relative;
        .row {
            margin: 0;
            .form,
            .banner {
                position: relative;
            }
            .form {
                padding-top: 30px;
                .contact-head {
                    text-align: center;
                    font-size: $font-size-primary;
                    font-weight: $font-weight-primary;
                    color: $color-primary;
                    text-transform: uppercase;
                    letter-spacing: 1px;
                    line-height: inherit;
                }
                select:focus,
                input:focus,
                button:focus {
                    box-shadow: none;
                }
            }
            .banner {
                position: relative;
                padding: 0;
                .banner-inner {
                    position: relative;
                    height: 500px;
                    width: 100%;
                    @media screen and (max-width: 768px) {
                        height: 350px;
                    }
                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }
        }
    }
    .guide-to-book-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        @media(max-width: $medium-and-down) {
            white-space: nowrap;
            overflow-x: auto;
        }
        .guide-to-book-box {
            padding: 10px;
            width: 100%;
            @media(max-width: $medium-and-down) {
                width: auto;
            }
            .guide-box {
                position: relative;
                .guide-box-head {
                    position: relative;
                    border: 1px solid pink;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    padding: 15px;
                    border-radius: $br-radius;
                    cursor: pointer;
                    i,
                    .guide-title {
                        color: #000;
                        text-shadow: 0 0 #000;
                    }
                    i {
                        font-size: $font-size-primary;
                        font-weight: $font-weight-primary;
                        margin-bottom: 15px;
                    }
                    .guide-title {
                        font-size: $font-size-secondary;
                        font-weight: $font-weight-secondary;
                    }
                }
                .guide-box-body {
                    border-radius: $br-radius;
                    text-align: center;
                    padding: 10px 0;
                    // display: none;
                    visibility: hidden;
                    opacity: 0;
                    transition: visibility 0s, opacity 0.5s linear;
                    @media(max-width: $medium-and-down) {
                        display: block;
                    }
                    .guide-description {
                        margin-bottom: 10px;
                        p {
                            margin: 0;
                            font-size: $font-size-secondary;
                            font-weight: $font-weight-secondary;
                        }
                    }
                    .guide-button {
                        button {
                            width: 100%;
                            color: #000;
                            text-shadow: 0 0 #000;
                            font-weight: 600;
                            i {
                                padding-right: 10px;
                            }
                        }
                        button:hover {
                            background: $color-red;
                            border-color: $color-red;
                            color: #fff;
                        }
                    }
                }
            }
            .guide-box:hover .guide-box-body {
                visibility: visible;
                opacity: 1;
            }
        }
    }
    .city-wrapper {
        .cities {
            position: relative;
            display: grid;
            grid-template-columns: repeat(4, minmax(auto, 1fr));
            grid-template-rows: minmax(4, 300px);
            grid-auto-flow: dense;
            grid-gap: 15px;
            height: 500px;
            .city {
                display: grid;
                $br-5px: 5px;
                border-radius: $br-5px;
                position: relative;
                @extend %bg-center-cover-norepeat;
                a {
                    text-decoration: none;
                    display: block;
                    .city-meta {
                        position: absolute;
                        top: 5%;
                        left: 5%;
                        z-index: 2;
                    }
                    .city-btn {
                        color: #fff;
                        font-size: 14px;
                        font-weight: 600;
                    }
                    .city-btn:focus {
                        box-shadow: none;
                    }
                    .city-caption {
                        position: relative;
                        z-index: 1;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background: rgba(95, 95, 95, .8);
                        color: #fff;
                        height: 100%;
                        opacity: 0;
                        border-radius: $br-5px;
                        .city-name {
                            font-size: $font-size-secondary;
                            font-weight: $font-weight-secondary;
                            text-transform: uppercase;
                            letter-spacing: .5px;
                            text-shadow: 0px 4px 1px #0e11a64f;
                            margin: 20px 0 10px;
                        }
                        .city-name::after {
                            content: "";
                            display: block;
                            margin: 0 auto;
                            width: 30%;
                            padding-top: 10px;
                            border-bottom: 2px solid $color-white;
                            opacity: .8;
                        }
                    }
                    .city-caption:hover {
                        opacity: 1;
                    }
                }
                .overlay {
                    @extend %absolute;
                    background: rgba($color: #000000, $alpha: .5);
                    border-radius: $br-5px;
                }
            }
        }
        .cities_9 {
            .city:nth-child(1) {
                grid-column: span 1;
                grid-row: span 2;
            }
            .city:nth-child(2) {
                grid-column: span 1;
                grid-row: span 3;
            }
            .city:nth-child(3) {
                grid-column: span 1;
                grid-row: span 1;
            }
            .city:nth-child(4) {
                grid-column: span 1;
                grid-row: span 2;
            }
            .city:nth-child(5) {
                grid-column: span 1;
                grid-row: span 1;
            }
            .city:nth-child(6) {
                grid-column: span 2;
                grid-row: span 1;
            }
            .city:nth-child(7) {
                grid-column: span 1;
                grid-row: span 2;
            }
            .city:nth-child(8) {
                grid-column: span 2;
                grid-row: span 1;
            }
            .city:nth-child(9) {
                grid-column: span 1;
                grid-row: span 1;
            }
        }
        .cities_8 {
            .city:nth-child(1) {
                grid-column: span 1;
                grid-row: span 2;
            }
            .city:nth-child(2) {
                grid-column: span 1;
                grid-row: span 3;
            }
            .city:nth-child(3) {
                grid-column: span 1;
                grid-row: span 1;
            }
            .city:nth-child(4) {
                grid-column: span 1;
                grid-row: span 2;
            }
            .city:nth-child(5) {
                grid-column: span 1;
                grid-row: span 1;
            }
            .city:nth-child(6) {
                grid-column: span 2;
                grid-row: span 1;
            }
            .city:nth-child(7) {
                grid-column: span 1;
                grid-row: span 2;
            }
            .city:nth-child(8) {
                grid-column: span 3;
                grid-row: span 1;
            }
        }
        .cities_7 {
            .city:nth-child(1) {
                grid-column: span 1;
                grid-row: span 3;
            }
            .city:nth-child(2) {
                grid-column: span 1;
                grid-row: span 4;
            }
            .city:nth-child(3) {
                grid-column: span 1;
                grid-row: span 2;
            }
            .city:nth-child(4) {
                grid-column: span 1;
                grid-row: span 4;
            }
            .city:nth-child(5) {
                grid-column: span 1;
                grid-row: span 2;
            }
            .city:nth-child(6) {
                grid-column: span 1;
                grid-row: span 3;
            }
            .city:nth-child(7) {
                grid-column: span 3;
                grid-row: span 2;
            }
        }
        .cities_6 {
            height: 500px;
            .city:nth-child(1) {
                grid-column: span 1;
                grid-row: span 3;
            }
            .city:nth-child(2) {
                grid-column: span 1;
                grid-row: span 4;
            }
            .city:nth-child(3) {
                grid-column: span 2;
                grid-row: span 2;
            }
            .city:nth-child(4) {
                grid-column: span 2;
                grid-row: span 2;
            }
            .city:nth-child(5) {
                grid-column: span 1;
                grid-row: span 3;
            }
            .city:nth-child(6) {
                grid-column: span 3;
                grid-row: span 2;
            }
        }
        .cities_5 {
            height: 500px;
            .city:nth-child(1) {
                grid-column: span 1;
                grid-row: span 3;
            }
            .city:nth-child(2) {
                grid-column: span 2;
                grid-row: span 3;
            }
            .city:nth-child(3) {
                grid-column: span 1;
                grid-row: span 3;
            }
            .city:nth-child(4) {
                grid-column: span 1;
                grid-row: span 3;
            }
            .city:nth-child(5) {
                grid-column: span 3;
                grid-row: span 3;
            }
        }
        .cities_4 {
            height: 500px;
            .city:nth-child(1) {
                grid-column: span 2;
                grid-row: span 3;
            }
            .city:nth-child(2) {
                grid-column: span 2;
                grid-row: span 3;
            }
            .city:nth-child(3) {
                grid-column: span 2;
                grid-row: span 3;
            }
            .city:nth-child(4) {
                grid-column: span 2;
                grid-row: span 3;
            }
        }
        .cities_3 {
            height: 400px;
            .city:nth-child(1) {
                grid-column: span 2;
                grid-row: span 6;
            }
            .city:nth-child(2) {
                grid-column: span 2;
                grid-row: span 3;
            }
            .city:nth-child(3) {
                grid-column: span 2;
                grid-row: span 3;
            }
        }
        .cities_2 {
            height: 400px;
            .city:nth-child(1) {
                grid-column: span 2;
                grid-row: span 4;
            }
            .city:nth-child(2) {
                grid-column: span 2;
                grid-row: span 4;
            }
            .city:nth-child(3) {
                grid-column: span 2;
                grid-row: span 3;
            }
        }
        .cities_1 {
            height: 400px;
            .city:nth-child(1) {
                grid-column: span 4;
                grid-row: span 6;
            }
        }
        .cities_mobile {
            .cities {
                grid-template-columns: none;
                grid-template-rows: minmax(2, auto);
                height: 300px;
                .city:nth-child(1) {
                    grid-column: span 1;
                    grid-row: span 1;
                }
                .city:nth-child(2) {
                    grid-column: span 1;
                    grid-row: span 1;
                }
                .city:nth-child(3) {
                    grid-column: span 2;
                    grid-row: span 1;
                }
            }
            .cities:last-child {
                grid-template-columns: none;
                grid-template-rows: minmax(1, auto);
                height: 300px;
                .city:nth-child(1) {
                    grid-column: span 1;
                    grid-row: span 1;
                }
                .city:nth-child(2) {
                    grid-column: span 1;
                    grid-row: span 1;
                }
            }
        }
    }
    .hot-projects {
        @extend %hot-projects-card;
    }
    .project-collection {
        position: relative;
        white-space: nowrap;
        .collections {
            display: flex;
            flex-direction: row;
            align-items: center;
            .collection {
                position: relative;
                width: 100%;
                padding: 10px 0;
                height: 200px;
                transition: all 300ms ease-in-out;
                @media (max-width: $small-and-down) {
                    height: 140px;
                }
                a {
                    position: relative;
                    height: 100%;
                    display: block;
                    text-decoration: none;
                    box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, .2);
                    @extend %bg-center-cover-norepeat;
                    .overlay {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: #fff;
                        @extend %absolute;
                        background: rgba(0, 0, 0, .5);
                        .name {
                            margin: 0;
                            padding: 0;
                            font-size: 24px;
                            text-shadow: 0px 0px #fff;
                            @media (max-width: $small-and-down) {
                                font-size: $font-size-secondary;
                            }
                        }
                    }
                }
                a,
                .overlay {
                    border-radius: $br-radius;
                }
            }
            .collection:nth-child(2) {
                height: 250px;
                @media (max-width: $small-and-down) {
                    height: 180px;
                }
            }
            .collection:hover {
                transform: scale(1.2);
                z-index: 1;
            }
        }
    }
    .hot-projects::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background: #fcf5f5;
    }
    .latest-projects {
        position: relative;
        @extend %latest-projects-card;
    }
    .latest-projects::before {
        content: '';
        @extend %absolute;
        top: 50%;
        background: #fcf5f5;
    }
    .trending-article {
        position: relative;
        .article-card {
            position: relative;
            padding: 20px 10px;
            margin-bottom: 5px;
            .image {
                @extend %bg-center-cover-norepeat;
                position: relative;
                height: 200px;
                border-radius: $br-radius;
                .overlay {
                    @extend %absolute;
                    background: rgba(0, 0, 0, 0.1);
                    border-radius: $br-radius;
                }
            }
            .detail {
                position: relative;
                padding: 15px 10px 0;
                a {
                    display: block;
                    margin: 10px 0;
                    display: flex;
                    justify-content: space-between;
                    align-items: baseline;
                    .name {
                        color: $color-secondary;
                        font-size: $font-size-secondary;
                        font-weight: $font-weight-secondary;
                        width: 80%;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        @media (max-width: $small-and-down) {
                            width: 60%;
                        }
                    }
                    .read_more {
                        color: $color-red;
                        font-size: 12px;
                    }
                }
                .article-detail {
                    padding: 10px 0;
                    button {
                        font-size: $font-size-sub-secondary;
                        font-weight: $font-weight-secondary;
                        @media (max-width: $small-and-down) {
                            font-size: 12px;
                        }
                        i {
                            margin-right: 5px;
                        }
                    }
                    button,
                    button:hover,
                    button:focus {
                        background: none;
                        box-shadow: none;
                        border: 0;
                        color: $color-secondary;
                    }
                }
            }
        }
        .article-card::before {
            content: '';
            position: absolute;
            top: 30%;
            left: 0;
            right: 0;
            bottom: 0;
            background: #fff;
            border-radius: $br-radius;
            box-shadow: 0px 1px 3px rgba(0, 0, 0, .3);
        }
    }
    .trending-article::before {
        content: '';
        @extend %absolute;
        top: 50%;
        background: #f1f9f9;
    }
    .our-partners {
        position: relative;
        .partners-card {
            position: relative;
            .image {
                @extend %bg-center-cover-norepeat;
                position: relative;
                height: 150px;
                border-radius: $br-radius;
                .overlay {
                    @extend %absolute;
                    background: rgba(0, 0, 0, 0.3);
                    border-radius: $br-radius;
                }
            }
            .name {
                text-align: center;
                font-size: $font-size-sub-primary;
                font-weight: $font-weight-secondary;
                color: $color-secondary;
                text-shadow: 0 0 $color-secondary;
                margin: 10px 0 0;
                letter-spacing: 1px;
            }
        }
    }
    .our-partners::before {
        content: '';
        @extend %absolute;
        bottom: 40%;
        background: #f1f9f9;
    }
}